<div class="panel panel-default">
  <div class="panel-heading">COMMENT CA MARCHE ?</div>
  <div class="panel-body">
    <div class="media">
      <div class="media-left">
        <%= image_tag "mail.png" %>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Etape 1</h4>
        J'active mon compte en cliquant sur "Se Connecter" et en rentrant mes identifiants reçus par lettre
      </div>
    </div>
    <div class="media">
      <div class="media-left">
        <%= image_tag "voting.png" %>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Etape 2</h4>
        Je vote pour le candidat de mon choix en cliquant sur le bouton "Voter" le jour du vote
      </div>
    </div>
    <div class="media">
      <div class="media-left">
        <%= image_tag "victorious.png" %>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Etape 3</h4>
        Je reviens pour consulter les résultats des élections <%= @vote_status %>

      </div>
    </div>

  </div>

  <div id="homeButton">

    <% if current_user %>
      <% if cookies[:tour]  && @vote_status == false %>
        Tour <%= cookies[:tour] %>  <br/><br/>
        <%= link_to 'Je vote', { :action => "vote"}, :class => "btn btn-lg btn-primary" %>
      <% elsif @vote_status == false %>
        L'election est fermée au vote
      <% else %>
        Votre vote a été enregistré
      <% end %>
    <% else %>
    <%= link_to 'Se connecter', new_session_path, class: "btn btn-lg btn-primary" %>
    <% end %>
  </div>
</div>




<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">LES CANDIDATS A LA PRESIDENTIELLE</div>
    <div class="panel-body">
      <% @candidates.each do |candidate| %>
      <div class="col-sm-12 col-md-6 candidates">
        <%= image_tag candidate.photo %>
        <%= link_to candidate_path(candidate) do %>
        <h3><%= candidate.prenom %> <strong><%= candidate.nom %></strong></h3>
        <p><%= candidate.affiliation %></p>
        <% end %>
        <div class="divider"> </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
