<div class="panel panel-default">
  <div class="panel-heading">Résultats Tour 1</div>
  <div class="panel-body">
    <ul class="list-group result">
      <li class="list-group-item grey">
        <div class="item">Candidat</div>
        <div class="item">Résultat</div>
      </li>
      <% @resultst1.each do |result| %>
      <li class="list-group-item ">
        <div class="item"><%= @candidates.find(result[0]).prenom %> <%= @candidates.find(result[0]).nom %> </div>
        <div class="item"><%= (result[1] * 100.0 / @votest1.count).round(2) %>%</div>
      </li>
      <% end %>
    </ul>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Résultats Tour 2</div>
  <div class="panel-body">
    <ul class="list-group result">
      <li class="list-group-item grey">
        <div class="item">Candidat</div>
        <div class="item">Résultat</div>
      </li>
      <% @resultst2.each do |result| %>
      <li class="list-group-item ">
        <div class="item"><%= @candidates.find(result[0]).prenom %> <%= @candidates.find(result[0]).nom %> </div>
        <div class="item"><%= (result[1] * 100.0 / @votest2.count).round(2) %>%</div>
      </li>
      <% end %>
    </ul>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Filtrer les résultats par code postaux</div>
  <div class="panel-body">
<%= form_tag filter_path , :class => "form-horizontal",:method => 'get' do %>
<%= label_tag "Code Postal"%>
<%= number_field_tag :search, params[:search], :class => "form-control" %>
<%= label_tag "Tour"%>
<%= number_field_tag :tour, params[:tour], :class => "form-control"  %>
<%= submit_tag "Filtrer", :class => "btn btn-primary" %>
<% end %>
</div>
</div>